{% extends 'base.html' %}
{% load static %}

{% block content %}

<div class="container pt-5">
	<div class="d-flex flex-column text-center mb-5 pt-5">
		<h4 class="text-secondary mb-3 text-uppercase">Asociacion Protectora de animales del Chaco</h4>
		<h1 class="display-4 m-0">Noticias</h1>
		<div class="submenu">

			<a href="{% url 'listar' %}">TODAS</a>
			{% for cat in categorias %}
			<a href="?id={{cat.pk}}">{{cat.nombre}}</a>
			{% endfor %}

		</div>
	</div>
	<div class="row pb-3">
		{% for noti in noticias %}

		<div class="col-lg-4 mx-auto">
			<div class="card border-0 mb-2">
				<img class="card-img-top" src="{{noti.imagen.url}}" height="250" alt="">
				<div class="card-body bg-light p-4">
					<h1 class="card-title text-truncate">{{noti.titulo}}</h1>
					<p>{{noti.cuerpo}}</p>
				</div>
				<div class="text-center bg-light">
					<a class="font-weight-bold tex" href="{% url 'detalle' noti.pk %}">Mas Información</a>
				</div>
			</div>
		</div>
		{% endfor %}
	</div>
</div>
{% endblock %}